<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="$(var.ProductCode)" Name="AIGW CLI" Language="1033" Version="$(var.ProductVersion)" Manufacturer="DIG" UpgradeCode="A4F1C6D9-4995-4E48-B469-6F7C0DF5485D">
    <Package Id="$(var.PackageCode)" InstallerVersion="500" Compressed="yes" InstallScope="perUser"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of AIGW is already installed."/>
    <MediaTemplate EmbedCab="yes"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="ProgramsDir" Name="Programs">
          <Directory Id="INSTALLFOLDER" Name="aigw">
            <Directory Id="INSTALLBINFOLDER" Name="bin">
              <Component Id="AigwExe" Guid="$(var.AigwExeGuid)">
                <File Id="AigwExeFile" Source="$(var.SourceDir)/aigw.exe" KeyPath="yes" Name="aigw.exe"/>
              </Component>
              <Component Id="AigwPath" Guid="$(var.AigwPathGuid)">
                <RegistryValue Root="HKCU" Key="Software\\AIGW" Name="PathManaged" Type="integer" Value="1" KeyPath="yes"/>
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="DefaultFeature" Title="AIGW CLI" Level="1">
      <ComponentRef Id="AigwExe"/>
      <ComponentRef Id="AigwPath"/>
    </Feature>
    <InstallExecuteSequence>
      <RemoveEnvironmentStrings After="RemoveRegistryValues"/>
      <WriteEnvironmentStrings After="WriteRegistryValues"/>
    </InstallExecuteSequence>
  </Product>
</Wix>
